[submodule ".build"]
	path = .build
	url = git@github.com:katbyte/cs.build
	branch = master
[submodule "references/katbyte.dll"]
	path = references/katbyte.dll
	url = git@github.com:katbyte/cs.dll.katbyte
	branch = master
